@charset "utf-8";

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
	
   
}
h1 {text-align: center; color: black; font-size: 50px; margin-bottom: 0px}
h6 {text-align: center; color: black; font-size: 50px; margin-bottom: 0px}
h2 {text-align: center; color:black ; font-size: 40px; margin-bottom: 0px}
h3 {text-align: center; color:black ; font-size: 40px; margin-bottom: 0px}
h4 {text-align: center; color:black; font-size: 50px; margin-bottom: 0px}
h5 {text-align: left; color: black; font-size: 30px; margin-left: 20px:align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center; text-size-adjust: 20px;
}
h7 {text-align: center; color:black; font-size: 80px}
div {width: 100%}

.logo2 {width: 40%}
.wireframe{width: 50%; margin-top: 0px}
.arq{width: 50%; margin-top: 0px}
.diseno{width: 50%; margin-top: 0px}
.boton {; color:ivory;	background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(191, 191, 210, 1) 0%,
    rgba(0, 0, 0, 1) 65%
  )
	;box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px;
	border: 2px solid rgb(38, 39, 39);
	display: inline-block;text-decoration: none;}


.slide {
    display: flex;
	flex-flow: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    font-size: 3em;
    scroll-snap-align: start;
}
.columna2 {
	flex: 50% ;
	padding: 5px;
}
.slider2 {
	display: flex;
	justify-content: space-evenly;
	padding: 10px;
	position: relative;
	display: none;
}
.fila2 {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 10px;
}

#slide1 {
 background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(191, 191, 210, 1) 30%,
    rgba(0, 0, 0, 1) 100%
  );
}

#slide2 {
 background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(191, 191, 210, 1) 30%,
    rgba(0, 0, 0, 1) 100%
  );
}

#slide3 {
 background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(191, 191, 210, 1) 30%,
    rgba(0, 0, 0, 1) 100%
  );
}

#slide4 {
 background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(191, 191, 210, 1) 30%,
    rgba(0, 0, 0, 1) 100%
  );
}

#slide5 {
 background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(191, 191, 210, 1) 30%,
    rgba(0, 0, 0, 1) 100%
  );
}

#slide6 {
 background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(191, 191, 210, 1) 30%,
    rgba(0, 0, 0, 1) 100%
  );
}
#slide7 {
 background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(191, 191, 210, 1) 30%,
    rgba(0, 0, 0, 1) 100%
  );
}

#slide8 {
 background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(191, 191, 210, 1) 30%,
    rgba(0, 0, 0, 1) 100%
  );
}

body {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

@media (max-width:480px ) {
	.fila2 {
		display: block;
	}
	.fila {
		display: none}

.diseno {
    width: 90%;
    margin-top: 0px;
}
.columna {
    flex: 50%;
    padding:5px;
}
.columna2 {
	flex: 50% ;
	padding: 5px;
}
.fila2 {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 10px;}


.slider1 {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
.fila2 {
    display: block;
}
.fila {
    display: none
}
.arq {
    width: 100%;
    display: flex;
}
.h7 {
    text-align: center;
    color: white;
    font-size: 55px;
}
.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.image-container img {
    max-width: 100%;
    height: auto;
    margin: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); }

    .image-container img {
        max-width: 70%;
    }
}


